:root{
  --dark: rgb(32, 34, 37) ;
  --medium: rgb(47, 49, 54) ;
  --light: rgb(54, 57, 63) ;
  --medium-accent: #2A2C31 ;
  --selected-medium :#42464D;
}
html,body,.container-fluid{
  height: 100%;
  background-color: rgba(40, 43, 48, 1);
  border: none;

    /* -webkit-transform: scale(2.0);
       -moz-transform: scale(3.67);
            transform: scale(1); */


}
.row{
  height: 90%;
}
.circle{

  width: 10px;


}
.col-sm-1,.col-sm-2,.col-sm-3 ,  .col-sm-4 , .col-sm-10 {
  padding: 0px;
  position: relative;
  background-color: rgba(49, 51, 57, 1);
  height: 100%;
  color: white;
  overflow-y: auto;
  /* border: 1px dashed lime; */
}
.col-sm-7,.col-sm-8, .col-sm-10 {
  padding: 0px;
  background-color: rgba(49, 51, 57, 1);
  /* background-color: var(--light); */
  height: 100%;
  color: white;
  /* border: 1px dashed yellow; */
  z-index: 1;
  /* overflow-y: auto; */
}
.onlinecol{
  /* border-right: 1px solid black; */
  /* border: 1px solid pink; */
  height: 50%;
  background-color: rgb(40, 43, 48);
  /* background-color: var(--medium); */
  color: white;
  overflow-y: auto;
  /* border: 1px solid white; */
}
.row{
  /* border: 1px solid black; */

  height: 100%;

}
.themedtext{
  color:rgba(130, 132, 136, 1) ;
}
.themedtextdark{
  color: rgba(117, 117, 117, 1);
}
.userchats{
  position: relative;
  /* border: 1px dotted brown; */
  background-color: rgb(40, 43, 48);
  /* background-color: var(--medium); */
  height: 50%;
}
#logout{
  position: absolute;
  border: 1px solid red;
  left: 0px;
  /* border: 1px dashed teal; */
  background-color: rgba(49, 51, 57, 1);
  bottom: 0px;
  width: 100%;
  height: 40%;
}
.loggedin{
  padding: 0px;
  display: block;
}
#user{
  font-size: 14px;
}
#email{
  color: rgba(117, 117, 117, 1);
  font-size: 10px;
}
.userinfo{
  position: absolute;
  /* border: 1px dotted teal; */
  background-color: rgb(30, 33, 38);
  bottom: 0%;
  padding: 2%;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 15%;

}
#logout a:hover{
  text-decoration: none;
}
.online{
  background-color: rgb(40, 43, 48);
  z-index: 1;
  position: relative;
  height: 100%;
}
.chatheader{
  width: 100%;
  padding-top: .5%;
  position: fixed;
  padding-left: 1%;
  z-index: -1;
  height: 7%;
  background-color: rgba(49, 51, 57, 1);
  border-bottom: 5px solid rgb(40, 43, 48);
}
.large{
  font-size: 34px;
}
.message{
  position: absolute;
  width: 100%;
  height: 10%;
  padding-top: 1%;
  bottom: 5%;

  /* border: 1px dotted azure; */
  /* background-color: rgba(49, 251, 57, 1); */

}
.message input[type=text]{
  width: 95%;
  color: rgba(117, 117, 117, 1);
  border-radius: 0.3em;

  outline: none;
 padding: 1%;
  border: none;
  /* border-right-color:rgb(40, 43, 48); */
  background-color: rgb(72, 75, 81);

}

.message input[type=button]{
  width: 10%;

  color:  white;
  border-radius: 0.3em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  outline: none;
  cursor: pointer;
 padding: 1%;
  border: 1px solid black;
  background-color:  rgb(114, 137, 218);

}
#headertext{
  color:rgba(130, 132, 136, 1);
  font-size: 28px;

}
#emptyicon{
  width: 50%;
}
.sender{
  /* background-color: pink; */

  font-size: 12px;
color :rgb(114, 137, 218);

}
.chatwrapper{
  border: 1px solid var(--dark);
  display: inline-block;
  background-color: #282B30;
  border-radius: 1em;
  padding: 1%;
  margin-left: 1%;
  margin-bottom: 1%;

}
.chatwrapper1{
  border: 1px solid rgb(114, 137, 218);
  display: inline-block;
  background-color: #282B30;
  border-radius: 1em;
  padding: 1%;
  margin-left: 1%;
  margin-bottom: 1%;

}
.chatmessage{
 /* border: 1px solid var(--dark); */

color: rgba(117, 117, 117, 1);;
 background-color: #282B30;
 font-size: 14px;




}
.chatbox{
width: 90% ;
/* border: 1px dotted green; */


/* border: 1px solid pink; */
  color: white;

}
.fullmessage{
/* background-color: rgb(11, 64, 210); */

/* border: 1px solid blue; */
width: 100%;

/* border-radius: 1em; */
}
.fullmessage1{
  background-color: rgb(140, 143, 148);
  padding: 20px;
  /* border: 1px solid blue; */
  width: 1px;
  border-radius: 1em;
}
.theconvos{
  /* background-color: azure; */
  /* border: 1px dotted red; */
  width: 100%;
  height: 10%;
}
.theconvo{
  /* position: relative; */
  /* border: 1px dotted blue; */
  padding-top: 5%;
  height: 85%;
  z-index: -3;

}
.output{
  /* background-color: gray; */
  overflow-y: auto;
}
#time{
  font-size: 8px;
  margin-top: 2%;
}
#test {
    max-height: 100%;

    overflow: auto;
}
.servers{
  /* background-color: var(--dark); */
  height: 50%;
}
#servers{
  font-size: 12px;

}
.server_members{
  height: 50%;
  color: rgba(117, 117, 117, 1);
}
.server_member_name{

}
a{
  color: rgb(114, 137, 218);
}
/* Settings Tab */
.usersettings{
color: rgba(117, 117, 117, 1);
}
.colcontainer{
  height: 100%;
  padding-left: 2%;
  background-color: rgba(72, 75, 81, 1);
}
.userdetails{
  color: white;
  font-size: 22px;

}
.settingoptions{
  display: block;
  font-size: 12px;
}
.userdata{
  background-color: rgba(48, 50, 54, 1);
  color: rgb(140, 143, 148);
  padding: 2%;
  /* border: 1px solid red; */
  width: 98%;

}
.userdata input[type=text]{
border: none;
outline: none;
background-color: inherit;
color: inherit;
}
.editbtn{
  position: relative;
  float: right;
  padding: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: .5em;
  font-size: 12px;
}
.textholders{
  color: white;
  font-size: 12px;
}
.textdetails{
  font-size: 16px;
}
/* Explore Tab */
.explorebox{
  color: white;
  /* border: 1px dashed teal; */
}
.explorebox input[type=text]{
  border: 1px solid rgb(114, 137, 218);
  padding: 5px;
  color: white;
  outline: none;
  background-color: rgb(48,50,51);
}
.headers{
  display: block;

}
.resultbox{
  /* border: 1px dashed yellow; */
  color: white;
}
#async_entries{
  font-size: 10px;
  display: block;
}
.table td{
  border: none;
}
#async{

}
/* Media Query */

@media screen and (max-width: 1366px) {
  html,body,.container-fluid{
    height: 100%;
  }
  .row{
    height: 90%;

  }
  .large{
    font-size: 18px;
  }
  .chatheader{

    z-index: -1;
  padding-top: .5%;
  height: 7%;
  }
  #headertext{


    font-size: 16px;
  }
  .onlinecol{

    font-size: 12px;
  }
  .online{
  font-size: 12px;

  position: relative;

  }
  .userchats{

    font-size: 12px;
  }
  /* .chatbox{
    font-size: 14px;
    padding: 10px;



  }
  .theconvo{
    padding-top: 5%;


  }
  .theconvos{

  }
  .fullmessage{
    padding: 1%;


  }
  .fullmessage1{
    background-color: rgb(140, 143, 148);
    padding: 1%;

    border-radius: 1em;
  }
  #time{
    font-size: 8px;
    margin-top: 1%;

  } */
  .sender1{

  }
  #servers{
font-size: 12px;
  }
  .server_member_name{
  font-size: 12px;
  }
}
