:root{
  --dark: rgb(32, 34, 37) ;
  --medium: rgb(47, 49, 54) ;
  --light: rgb(54, 57, 63) ;
  --medium-accent: #2A2C31 ;
  --selected-medium :#42464D;
}
html,body,.container-fluid{
  height: 100%;
  background-color: rgba(40, 43, 48, 1);
  border: none;
}
.row{
  height: 100%;
}
.circle{

  width: 10px;


}
.col-sm-1,.col-sm-2,.col-sm-3 ,  .col-sm-4 , .col-sm-10 {
  padding: 0px;
  position: relative;
  background-color: rgba(49, 51, 57, 1);
  height: 100%;
  color: white;
  overflow-y: auto;
  /* border: 1px dashed lime; */
}
.col-sm-7,.col-sm-8, .col-sm-10 {
  padding: 0px;
  background-color: rgba(49, 51, 57, 1);
  /* background-color: var(--light); */
  height: 100%;
  color: white;
  /* border: 1px dashed yellow; */
  z-index: 1;
  /* overflow-y: auto; */
}
.onlinecol{
  /* border-right: 1px solid black; */
  /* border: 1px solid pink; */
  height: 50%;
  background-color: rgb(40, 43, 48);
  /* background-color: var(--medium); */
  color: white;
  overflow-y: auto;
  /* border: 1px solid white; */
}
.row{
  /* border: 1px solid black; */

  height: 90%;

}
.themedtext{
  color:rgba(130, 132, 136, 1) ;
}
.themedtextdark{
  color: rgba(117, 117, 117, 1);
  font-size: 0.8vw;
}
.userchats{
  position: relative;
  /* border: 1px dotted brown; */
  background-color: rgb(40, 43, 48);
  /* background-color: var(--medium); */
  height: 50%;
}
#logout{
  position: absolute;
  border: 1px solid #AF3441;
  left: 0px;
  /* border: 1px dashed yellow; */
  background-color: rgba(49, 51, 57, 1);
  bottom: 0px;
  width: 100%;
  height: 35%;
  transition-property: all;
  transition-duration: 1s;
}
#logout:hover{
  background-color: #AF3441;
  border: 1px solid white;
  color: white;
}
.loggedin{
  /* border: 1px dotted green; */
  padding: 0px;
  display: block;
}
#user{
  font-size: 1.5vw;
}
#email{
  color: rgba(117, 117, 117, 1);
  font-size: 0.7vw;
}
.userinfo{
  position: absolute;
  /* border: 1px dotted teal; */
  background-color: rgb(30, 33, 38);
  bottom: 0%;
  padding: 2%;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 15%;

}
#logout a:hover{
  text-decoration: none;
}
.online{
  background-color: rgb(40, 43, 48);
  /* border: 1px dotted green; */
  z-index: 1;
  position: relative;
  height: 100%;
}
.chatheader{
  width: 100%;
  position: fixed;
  padding-top: 0%;
  color:rgba(130, 132, 136, 1);
  padding-left: 1%;
  z-index: -1;
  height: 7%;
  background-color: rgba(49, 51, 57, 1);
  border-bottom: 5px solid rgb(40, 43, 48);
}
.large{
  font-size: 1.5vw;
}
.message{
  position: absolute;
  width: 100%;
  height: 10%;
  padding-top: 1%;
  bottom: 5%;

  /* border: 1px dotted azure; */
  /* background-color: rgba(49, 251, 57, 1); */

}
.message input[type=text]{
  width: 95%;
  color: rgba(189, 178, 178, 1);
  border-radius: 0.3em;

  outline: none;
 padding: 1%;
  border: 1px solid rgb(72, 75, 81);
  background-color: rgb(72, 75, 81);
  transition-property: all;
  transition-duration: 1s;
}
.message input[type=text]:hover{
  border: 1px solid rgb(114, 137, 218);
}
.message input[type=text]:focus{
  border: 1px solid rgb(114, 137, 218);
}


.message input[type=button]{
  width: 10%;

  color:  white;
  border-radius: 0.3em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  outline: none;
  cursor: pointer;
 padding: 1%;
  border: 1px solid black;
  background-color:  rgb(114, 137, 218);

}
#headertext{

  color:rgba(130, 132, 136, 1);
  font-size: 2vw;

}
#emptyicon{
  width: 50%;
}
.sender{
font-size: 12px;
color :rgb(114, 137, 218);

}
.chatwrapper{
  border: 1px solid var(--dark);
  display: inline-block;
  background-color: #282B30;
  border-radius: 1em;
  padding: 1%;
  margin-left: 1%;
  margin-bottom: 1%;

}
.chatwrapper1{
  border: 1px solid rgb(114, 137, 218);
  display: inline-block;
  background-color: #282B30;
  border-radius: 1em;
  padding: 1%;
  margin-left: 1%;
  margin-bottom: 1%;

}
.chatmessage{
 color: rgba(117, 117, 117, 1);
 background-color: #282B30;
 font-size: 14px;
}
.chatbox{
width: 90% ;
  color: white;
}
.fullmessage{
width: 100%;
}

.theconvos{
  width: 100%;
  height: 10%;
  /* border: 1px dotted orange; */
}
.theconvo{
  margin-top: 6%;
  height: 75%;
  z-index: -3;
  border-bottom: 2px solid #282B30;
}
.output{
  overflow-y: auto;
  /* border: 1px dotted red; */
}
#time{
  font-size: 8px;
  margin-top: 2%;
}
#test {
    max-height: 100%;
    overflow: auto;
    /* border: 1px dotted teal; */
}
.servers{
  height: 50%;
}
#servers{


}
.server_members{
  height: 50%;
  color: rgba(117, 117, 117, 1);
}
.server_member_name{
  font-size: 0.7vw;
}
a{
  color: rgb(114, 137, 218);
}
/* Settings Tab */
.usersettings{
color: rgba(117, 117, 117, 1);
}
.colcontainer{
  height: 100%;
  padding-left: 2%;
  background-color: rgba(72, 75, 81, 1);
}
.userdetails{
  color: white;
  font-size: 22px;

}
.settingoptions{
  display: block;
  font-size: 12px;
}
.userdata{
  background-color: rgba(48, 50, 54, 1);
  color: rgb(140, 143, 148);
  padding: 2%;
  /* border: 1px solid red; */
  width: 98%;

}
.userdata input[type=text]{
border: none;
outline: none;
background-color: inherit;
color: inherit;
}
.editbtn{
  position: relative;
  float: right;
  padding: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: .5em;
  font-size: 12px;
}
.textholders{
  color: white;
  font-size: 12px;
}
.textdetails{
  font-size: 16px;
}
/* Explore Tab */
.explorebox{
  color: white;
  /* border: 1px dashed teal; */
}
.explorebox input[type=text]{
  border: 1px solid rgb(114, 137, 218);
  padding: 5px;
  color: white;
  outline: none;
  background-color: rgb(48,50,51);
}
.headers{
  display: block;

}
.resultbox{
  /* border: 1px dashed yellow; */
  color: white;
}
#async_entries{
  font-size: 10px;
  display: block;
}
.table td{
  border: none;
}
#async{

}
/* Media Query */

@media screen and (min-width: 1367px) {
  .theconvo{
    margin-top: 1%;
  }
  #headertext{

  }
}
@media screen and (min-width: 1367px) {
  .chatheader{
    position: inherit;

  }

}
@media screen and (max-width: 600px) {
  .theconvo{
    margin-top: 20%;
  }
  .themedtextdark{
    font-size: 12px;
  }
  #user{
    font-size: 12px;
  }
  #email{
    font-size: 12px;
  }
  #headertext{
    font-size: 24px;
  }
  .large{
    font-size: 12px;
  }
  #bs_server_col{
    display: none;
  }
  .server_member_name{
    font-size: 12px;
  }
}
